@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-thin::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 transition-colors duration-300 hover:bg-gray-400;
  }
}

@layer components {
  .button-primary {
    @apply !border-green-600 !bg-green-600 hover:!border-green-500 hover:!bg-green-500;
  }
  .button-default {
    @apply hover:!border-green-600 hover:!text-green-600 active:!border-green-700 active:!text-green-700;
  }
  .button-second {
    @apply mt-3 flex flex-row items-center gap-x-[6px] rounded-[28px] border-none !bg-[#F0F5F7] px-[28px] py-[10px] font-medium !text-[#6F767E] outline-none hover:!bg-[#DEEAF1];
  }

  .button-chat-panel {
    @apply mt-[0.875rem] flex !min-h-8 w-full items-center justify-start gap-3 px-3 text-start font-bold !text-[#586379] hover:!bg-[#F0F5F7] hover:!text-[#00000099];
  }
}

@layer components {
  .background-chat {
    background: url(/src/assets/images/main-background.png) no-repeat 50% 50% / cover;
  }

  .background-spring {
    background: url(/src/assets/images/spring-background.png) no-repeat 0px 100% / 300px 100px;
    @media (width >= 64rem) {
      background: url(/src/assets/images/spring-background.png) no-repeat 6px 120% / 300px 100px;
    }
  }
}
