.background {
  @apply absolute inset-0 z-0;
  background:
    radial-gradient(at 20% 0px, #16a34ab2 0px, transparent 40%),
    radial-gradient(at 70% 0px, #03aa4096 20px, transparent 40%) #ffffff;
  mix-blend-mode: var(20px);
  filter: blur(10px);
}

.box-shadow {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-color: #ffffff;
}
